<!--======  ABOUT-US PART START ======-->
<section class="about-us-area" id="About">
    <div class="container">
        <div class="row">
            <div class="about-us-img">
                <img src="{{relative_url}}/assets/images/about-us/1.png" alt="" class="about-img-1">
                <img src="{{relative_url}}/assets/images/about-us/2.png" alt="" class="about-img-2">
            </div>
            <div class="col-lg-5 offset-lg-7">
                <div class="about-us-content">
                    <div class="section-title about-us-title">
                        <p class="section-para"><span></span>Acerca de nosotros</p>
                        <h1>Somos una agencia ágil, que está 100% enfocada en convertir tus redes sociales en una gran comunidad en torno a tu negocio</h1>
                    </div>
                    <div class="about-us-text">
                        <span>A</span>
                        <p>Utilizando la Inteligencias Artificial podremos hacer un diagnostico certero de tus redes sociales para así, crear una estrategia de marketing adecuada para tu negocio y asi lograr la mejor performance de tu contenido </p>
                    </div>
                    <ul class="about-menu">
                        <li><a href="#"><i class="fas fa-check"></i>Análisis de tus redes sociales</a></li>
                        <li><a href="#"><i class="fas fa-check"></i>Creación de Estrategia Digital</a></li>
                        <li><a href="#"><i class="fas fa-check"></i>Implementación </a></li>
                    </ul>
                    <a href="#Contact" class="btn about-btn">¡Contáctanos ahora mismo!<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======  ABOUT-US PART END ======-->
