<!--======  CTA PART START ======-->
<section class="cta-area cta-bg pt-140 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="cta-title">
                    <span><img src="{{relative_url}}/assets/images/cta-text.png" alt="slider"/></span>
                    <h1>¿Quieres hacer despegar las redes sociales de tu emprendimiento? 🚀</h1>
                    <p>Somos un equipo especialistas en llevar proyecto al infinitó y más alla!</p>
                    <a href="#" class="btn cta-btn">¿Tengamos una reu? <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======  CTA PART END ======-->
