<!--======  HERO PART START ======-->
<section class="hero-area hero-carousel-active" id="home">
    <div class="single-hero-area hero-bg-1 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">Comienza tu aventura digital <br>
                            con los dos pies sobre la luna 🌕 </p>
                        <h1 class="hero-heading">
                            Mañana Studio
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                                <li><a href="#">Análisis de Redes Sociales</a></li>
                                <li><a href="#">Marketing Digital</a></li>
                                <li><a href="#">Performance</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn hero-btn">¡Comienza ahora!<i class="fa fa-arrow-right"></i></a>
                        <a href="https://www.youtube.com/watch?v=iogabydg2y0" class="video-btn video-popup"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-scrolli">
            <span><i class="fa fa-arrow-down"></i></span>
        </div>
    </div>
    <div class="single-hero-area hero-bg-2 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">Llevamos las comunicaciones <br>
                            de tu emprendimiento con Inteligencia Artificial y Creatividad</p>
                        <h1 class="hero-heading">
                            Mañana Studio
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                                <li><a href="#">Análisis de Redes Sociales</a></li>
                                <li><a href="#">Marketing Digital</a></li>
                                <li><a href="#">Performance</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn hero-btn">¡Comencemos!<i class="fa fa-arrow-right"></i></a>
                        <a href="#" class="video-btn video-popup"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-scrolli">
            <span><i class="fa fa-arrow-down"></i></span>
        </div>
    </div>
    <div class="single-hero-area hero-bg-3 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">Somos expertos en <br>
                            hacer despegar tus redes sociales</p>
                        <h1 class="hero-heading">
                            Mañana Studio
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                                <li><a href="#">Análisis de Redes Sociales</a></li>
                                <li><a href="#">Marketing Digital</a></li>
                                <li><a href="#">Performance</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn hero-btn">¡A despegar! 🚀<i class="fa fa-arrow-right"></i></a>
                        <a href="#" class="video-btn video-popup"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-scrolli">
            <span><i class="fa fa-arrow-down"></i></span>
        </div>
    </div>
</section>
<!--======  HERO PART END ======-->
